body {
    --accent-color: orangered;
    --background-color: white;
    --text-color: black;
    --button-text-color: var(--background-color);
    --transition-delay: 0.5s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;

    transition: var(--transition-delay);
    background-color: var(--background-color);
    color: var(--text-color);
    fill: var(--text-color);
}
body.dark {
    --accent-color: #d0d066;
    --background-color: #333;
    --text-color: white;
    transition: var(--transition-delay);
}
.title {
    margin: 0 0 .5em;
}
.theme-toggle-button {
    padding: .5em .75em;
    background-color: var(--accent-color);
    color: var(--button-text-color);
    fill: var(--button-text-color);
    border: none;
    outline: none;
    border-radius: .5em;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: scale(1);
}
.theme-toggle-button:hover, .theme-toggle-button:focus {
    transform: scale(1.1);
}
.sun-moon-container {
    --rotation: 0;

    position: absolute;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 200vmin;
    transform: rotate(calc(var(--rotation) * 1deg));
    transition: transform var(--transition-delay);
}
.icon {
    height: 2em;
    padding-right: .5em;
}
.sun, .moon {
    position: absolute;
    transition: opacity, fill, var(--transition-delay);
    height: 2em;
    width: 2em;
    fill: var(--accent-color);
}
.sun {
    top: 5%;
    opacity: 1;
}
.dark .sun {
    opacity: 0;
}
.moon {
    top: 5%;
    opacity: 0;
    transform: rotate(180deg);
}

.dark .moon {
    opacity: 1;
}